<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
	<header th:replace = "header"></header>
	<main th:classappend="${isPremium} ? ' premium' : ''">
	<h1>商品一覧</h1>
	<form action="/drink" method="get">
		商品名
		<input type="text" 
		name="keyword" 
		placeholder = "キーワードを入力してください"
		th:value="${keyword}"
		size="30">
	
			<input type="number" 
			 name="maxPrice" 
			 placeholder = "数字を入力してください"
			 th:value="${maxPrice}">円以下
	
		<select name = "categoryId">
			<option value = "">
				全商品
			</option>
			<option
			 th:each = "category:${categoryList}"
			 th:text = "${category.categoryName}"
			 th:value = "${category.categoryId}"
			 th:selected = "${selectedCategoryId == category.categoryId}">
			</option>
		</select>
			<button>検索</button>	
	</form>
	<table border = "1">
		<tr>
			<th>No</th><th>商品名</th><th>価格</th><th>種類</th><th></th>
		</tr>
		<tr th:each="drink:${drink}">
			<td th:text="${drink.drinkId}"></td>
			<td><a th:href = "@{/detail/{drinkId}(drinkId = ${drink.drinkId})}" th:text="${drink.drinkName}"></a></td>
			<td th:text="${drink.price} + 円"></td>
			<td th:text="${drink.categoryName}"></td>
			<td>
				<form action = "/cart/add" method = "post">
					<input type = "hidden" name = "drinkId"
					th:value = "${drink.drinkId}">
					<button>カートに追加</button>
				</form>
			</td>
		</tr>
	</table>
	<form action="/cart" method="get" style="display:inline;">
	  <button type="submit">カートを見る</button>
	</form>
	<th:block th:if="${errorMessage}">
	  <p style="color:red;" th:text="${errorMessage}"></p>
	</th:block>
	</main>
	<footer th:replace = "footer"></footer>
	<script>
	  window.addEventListener("DOMContentLoaded", function() {
	    const checkbox = document.querySelector('input[name="status"]');
	    const main = document.querySelector('main');

	    if (!checkbox || !main) return;

	    if (checkbox.checked) {
	      main.classList.add("premium");
	    }

	    checkbox.addEventListener("change", function() {
	      main.classList.toggle("premium", checkbox.checked);
	    });
	  });
	</script>
</body>
</html>