<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
</head>
<body>
<header>
	<h1>ショッピングサイト</h1>
</header>
<main>
	<th:block th:if="${message}">
	    <p th:utext="${message}" style="color:red"></p>
	</th:block>
<form action = "/login" method = "post">
<table>
	<tr>
		<th>名前</th><td><input type = "text" name = "name" size="50" th:value="${name}" required></td>
	</tr>
	<tr>
		<th>パスワード</th><td><input type = "password" name = "password" size="50" th:value="${password}" required></td>
	</tr>
</table>
<button>ログイン</button>
</form>
<a href = "/users">新規登録</a>
</main>
<footer th:replace = "footer"></footer>
</body>
</html>